*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url("../img/background.jpg");
    background-position: bottom;
    background-size: cover;
    color: #fff;
    border-bottom: 8px solid #222;
}

header nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

header nav img{
    width: 150px;
    cursor: pointer;
}
header nav button{
    width: 58px;
    height: 28px;
    background: #e50914;
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.content{
    text-align: center;
    padding-top: 11%;
    padding-bottom: 7%;
    font-family: sans-serif;
}

.content h1{
    font-size: 3.125rem;
}
.content h2{
    font-size: 1.625rem;
}
.content p{
    font-size: 1.2rem;
}
.content h3{
    font-size: 1.2rem;
    font-weight: 400;
}

.form{
    display: flex;
    justify-content: center;
}

.form input{
    width: 450px;
    height: 60px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
}
.form input:focus{
    border: 1px solid blue;
}

.form button{
    width: 250px;
    height: 60px;
    background: #e50914;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

h2, .form{
    margin: 16px 0;
}

section{
    background: #000;
    color: #fff;
    width: 100%;
    border-bottom: 8px solid #222;
}

.container{
    max-width: 1100px;
    margin: 0 auto
}

.container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.tv .container .row .col-6:first-of-type,
.mobile .container .row .col-6:last-of-type,
.device .container .row .col-6:first-of-type{
    width: 52%;
    height: auto;
}

.container .row .col-6 h1{
    font-size: 3rem;
    font-family: sans-serif;
    line-height: 1.2;
}
.container .row .col-6 p{
    font-size: 1.625rem;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 14px;
}

.col-6 img{
    width: 530px;
    height: 398px;
    border: 0;
}

.title{
    text-align: center;
    font-size: 3.5rem;
    font-family: sans-serif;
    line-height: 1.1;
    padding: 3.5rem 0;
}

.accordion{
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
}
.accordion-item{
    background: #303030;
    color: #fff;
    margin: 0.5rem 0;
}

.accordion-item-header{
    padding: 2rem;
    font-size: 34px;
    font-family: sans-serif;
    border-bottom: 2px solid #000;
    cursor: pointer;
    line-height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-item-header::after{
    content: "\002B";
    font-size: 2.9rem;
    font-family: sans-serif;
}

.accordion-item-header.active::after{
    content: "\00D7";
    font-size: 2.9rem;
    font-family: sans-serif;
}

.accordion-item-body{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 29px;
    font-family: sans-serif;
}

.accordion-item-body-content{
    padding: 1.8rem;
}

.accordion-item-header.active + .accordion-item-body{
    max-height: 1000px;
}

.par{
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
}

section .form{
    margin-bottom: 3rem;
}

footer{
    background: #000;
    color: #757575;
    padding: 5.4rem 0;
}

.footer-h1{
    font-size: 1.3rem;
    font-weight: 100;
    font-family: sans-serif;
}

ul li{
    font-size: 1rem;
    line-height: 2.2rem;
    font-family: sans-serif;
}

select{
    background: transparent;
    color: #757575;
    font-size: 21px;
    padding: 8px 10px;
    margin-bottom: 24px;
}

option{
    font-size: 21px;
    background: transparent;
}

span{
    font-size: 14px;
    font-family: sans-serif;
}


@media only screen and (max-width: 1024px){
    html, body{
        overflow-x: hidden;
    }

    .container .row{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .content h1{
        font-size: 2.8rem;
    }
    .content h2{
        font-size: 1.2rem;
    }
    .content p{
        font-size: 0.9rem;
    }
    .content h3{
        font-size: 1rem;
    }

    .form input{
        width: 400px;
        height: 50px;
        font-size: 14px;
        padding: 0 12px;
    }
    
    .form button{
        width: 200px;
        height: 50px;    
        font-size: 17px;
        letter-spacing: 1px;
    }

    .container .row .col-6 h1{
        font-size: 2.3rem;
        line-height: 1.1;
    }
    .container .row .col-6 p{
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .accordion{
        width: 100%;
        max-width: 600px;
        margin: 1rem auto;
    }
    
    .accordion-item-header{
        padding: 1.2rem;
        font-size: 24px;
        line-height: 1rem;
    }
    
    .accordion-item-header::after,
    .accordion-item-header.active::after{
        font-size: 2rem;
    }
    
    .accordion-item-body{
        font-size: 20px;
    }
    
    .accordion-item-body-content{
        padding: 1.5rem;
    }

    .par{
        font-size: 1rem;
        font-weight: 500;
    }

    footer .container .row .col-3{
        width: 200px;
        margin-bottom: 30px;
    }

    footer .container .row{
        display: flex;
        text-align: left;
        flex-wrap: wrap;
    }
    
}